@font-face {
    font-family: f;
    src: url(../font/2.ttf);
  }
:root{
    --light:#fff;
    --dark:#000;
    --red:rgba(255, 208, 0, 0.938);
}
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--red);
    font-family: f !important;
}
html{
    direction: rtl;
    background-color: var(--light);
    overflow-x: hidden;
    width: 100%;
}
body{
    overflow-x: hidden;
}
svg{
    height: 40px;
    width: 40px;
    border-radius: 3px;
}
svg,nav>div,.s1>div>div,.s1>div>div>div,form{
    transition-duration: .4s;
    box-shadow: 10px 10px 30px #bebebe,-5px -5px 30px #fff;
}
svg:hover,a:hover svg,.s1>div>div>div:hover{
    box-shadow: 0px 0px 0px 0px #bebebe, 0px 0px 0px 0px #fff;
}
.s1>div>div:hover{
    box-shadow: 5px 5px 10px #bebebe,-0px -0px 10px #fff;
}
.clock{
    box-shadow: 2px -2px 25px -3px rgba(0, 0, 0, 0.14);
}
.cir{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}
.s1>h1,.s1 h2{
    text-shadow: 3px 3px 4px rgba(0,0,0,.12) , -2px -2px 2px rgba(250,250,250,.9);
}
nav>div{
    display: inline-block;
    vertical-align: top;
    background-color: var(--light);
}
ul{
    border-radius:0 0 0 20px;
    width: 60px;
    transition-duration: .7s;
    overflow: hidden;
}
li{
    padding: 10px;
}
ul a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
ul a>*{
    flex-shrink: 0;
    text-decoration-style: none;
}
h2{
    display: inline-block;
    margin-right: 30px;
    font-style: normal;
}
nav>span{    
    margin: 15px;
    display: inline-block;
}
.login{
    float: left;
    margin: 15px 0px 15px 15px;
}